@import "tailwindcss";

input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

/* Hide scrollbar for Chrome, Safari and Edge */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scroll-hidden {
  scrollbar-width: none;
}

.rdp-caption_dropdowns {
  gap: 20px;
  text-transform: uppercase;

}

@theme {  
    --color-primary-50: #f5faf3;
    --color-primary-100: #e7f4e4;
    --color-primary-200: #d1e7cb;
    --color-primary-300: #acd3a2;
    --color-primary-400: #80b771;
    --color-primary-500: #5e9a4d;
    --color-primary-600: #4e863f;
    --color-primary-700: #3c6431;
    --color-primary-800: #32502b;
    --color-primary-900: #2b4225;
    --color-primary-950: #132310;
    --color-secondary-50: #fffbeb;
    --color-secondary-100: #fef3c7;
    --color-secondary-200: #fee689;
    --color-secondary-300: #fdd34c;
    --color-secondary-400: #fdc436;
    --color-secondary-500: #f79d09;
    --color-secondary-600: #db7504;
    --color-secondary-700: #b55208;
    --color-secondary-800: #933f0d;
    --color-secondary-900: #79340e;
    --color-secondary-950: #461902;
    --color-tertiary-50: #f7f3ef;
    --color-tertiary-100: #ece3d5;
    --color-tertiary-200: #dac7ae;
    --color-tertiary-300: #c5a47f;
    --color-tertiary-400: #b3875c;
    --color-tertiary-500: #a4744e;
    --color-tertiary-600: #8d5c41;
    --color-tertiary-700: #714737;
    --color-tertiary-800: #603d33;
    --color-tertiary-900: #54352f;
    --color-tertiary-950: #2f1b19;
    --backgroundImage: {
        'images': "url('.assets/images.png')"        
      }
}